<!--  Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/techstack">TechStack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/learning">Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="login-signup-app/src/assets/img/nandiniimage.jpeg.jpeg" alt="Nandini" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8">
      <h1>Nandini Kaushik</h1>
      <p><strong>Email:</strong> nandinikaushik&#64;email.com</p>
      <p><strong>Location:</strong> Bhiwani, India</p>
      <p><strong>Occupation:</strong> Trainee at JungleWorks</p>
      <p><strong>About Myself:</strong> Hi, my name is Nandini Kaushik. I have completed my master's in computer science and a MERN Stack development course from Noida. My strengths are learning ability, team management, and the ability to handle work pressure in an office environment. As a fresher, I am highly aspirant.</p>
      <p><strong>Opportunities:</strong> I have been doing the MERN Stack development course from Noida for 11 months. Additionally, I worked as a Computer Science Teacher in a school for 2 months.</p>
      <p><strong>Weakness:</strong> I am a workaholic. If a task is not completed, I will continue to work on it until it is finished.</p>
      <p><strong>Threats:</strong> Sometimes, I have difficulty with time management.</p>
      
    </div>
  </div> 
 



  